@import url("https://fonts.googleapis.com/css2?family=Tomorrow:wght@600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .card-linear-br {
    background: linear-gradient(
          180deg,
          rgba(28, 32, 53, 1),
          rgba(24, 27, 47, 1)
        )
        padding-box,
      linear-gradient(180deg, rgba(236, 240, 255, 0.1), rgba(20, 23, 43, 1))
        border-box;
    border: 1px solid transparent;
  }
  .shib-linear-br {
    background: linear-gradient(
          180deg,
          rgba(28, 32, 53, 1),
          rgba(27, 21, 40, 1)
        )
        padding-box,
      linear-gradient(180deg, rgba(236, 240, 255, 0.1), rgba(20, 23, 43, 1))
        border-box;
    border: 1px solid transparent;
    backdrop-filter: blur(50px);
  }
  .busd-linear-br {
    background: linear-gradient(180deg, rgb(28, 31, 52), rgb(33, 33, 42))
        padding-box,
      linear-gradient(180deg, rgba(236, 240, 255, 0.1), rgba(20, 23, 43, 1))
        border-box;
    border: 1px solid transparent;
    backdrop-filter: blur(50px);
  }
  .eth-linear-br {
    background: linear-gradient(
          180deg,
          rgba(28, 31, 52, 1),
          rgba(42, 45, 63, 1)
        )
        padding-box,
      linear-gradient(180deg, rgba(236, 240, 255, 0.1), rgba(20, 23, 43, 1))
        border-box;
    border: 1px solid transparent;
    backdrop-filter: blur(50px);
  }
  .sol-linear-br {
    background: linear-gradient(180deg, rgb(29, 32, 53), rgb(41, 24, 65))
        padding-box,
      linear-gradient(180deg, rgba(236, 240, 255, 0.1), rgba(20, 23, 43, 1))
        border-box;
    border: 1px solid transparent;
    backdrop-filter: blur(50px);
  }
  .bit-linear-br {
    background: linear-gradient(180deg, rgb(28, 31, 52), rgb(33, 33, 42))
        padding-box,
      linear-gradient(180deg, rgba(236, 240, 255, 0.1), rgba(20, 23, 43, 1))
        border-box;
    border: 1px solid transparent;
    backdrop-filter: blur(50px);
  }
  .description-box-linear-br {
    background: linear-gradient(
          180deg,
          rgba(20, 23, 43, 1),
          rgba(20, 23, 43, 1)
        )
        padding-box,
      linear-gradient(180deg, rgba(236, 240, 255, 0.1), rgba(20, 23, 43, 1))
        border-box;
    border: 1px solid transparent;
    backdrop-filter: blur(50px);
  }

  .icon:before {
    content: "";
    position: absolute;
    width: 37px;
    height: 36px;

    top: -1px;
    left: -30px;
    border-width: 1px;
    border-bottom-width: 0;
    border-left-width: 0;
    border-top-color: #2a2d41;
    border-right-color: #2a2d41;
    border-top-right-radius: 100%;
    box-shadow: #14172b 8px -20px 0px 8px;
  }

  .icon:after {
    content: "";
    position: absolute;
    width: 37px;
    height: 36px;

    top: -1px;
    right: -30px;
    border-width: 1px;
    border-bottom-width: 0;
    border-right-width: 0;
    border-top-color: #2a2d41;
    border-left-color: #2a2d41;
    border-top-left-radius: 100%;
    box-shadow: #14172b -8px -20px 0px 8px;
  }
}
