@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .card-linear-br {
    background: linear-gradient(
          180deg,
          rgba(28, 32, 53, 1),
          rgba(24, 27, 47, 1)
        )
        padding-box,
      linear-gradient(180deg, rgba(236, 240, 255, 0.1), rgba(20, 23, 43, 1))
        border-box;
    border: 1px solid transparent;
  }
  .shib-linear-br {
    background: linear-gradient(
          180deg,
          rgba(28, 32, 53, 1),
          rgba(27, 21, 40, 1)
        )
        padding-box,
      linear-gradient(180deg, rgba(236, 240, 255, 0.1), rgba(20, 23, 43, 1))
        border-box;
    border: 1px solid transparent;
    backdrop-filter: blur(50px);
  }

  .icon:before {
    content: "";
    position: absolute;
    width: 35.5px;
    height: 35.5px;

    top: -2px;
    left: -29px;
    border-width: 1px;
    border-bottom-width: 0;
    border-left-width: 0;
    border-top-color: #2a2d41;
    border-right-color: #2a2d41;
    border-top-right-radius: 100%;
    box-shadow: #14172b 8px -20px 0px 8px;
  }

  .icon:after {
    content: "";
    position: absolute;
    width: 35.5px;
    height: 35.5px;

    top: -2px;
    right: -29px;
    border-width: 1px;
    border-bottom-width: 0;
    border-right-width: 0;
    border-top-color: #2a2d41;
    border-left-color: #2a2d41;
    border-top-left-radius: 100%;
    box-shadow: #14172b -8px -20px 0px 8px;
  }
}
